.top{
  background-color: green;
  border: top 4px bottom 4px;
  max-width: max-content;
  max-height: max-content;
}
.bottom{
  background-color: rgb(19, 19, 134);
  border: top 4px bottom 4px;
  max-width: max-content;
  max-height: max-content;
}